{% extends "base.html" %}


{% block title %}
{{ hotel.name }} -
{% endblock title %}


{% block content %}

<div class="hotel-detail-wrapper">

    <div class="hotel-pics">
        {% for img_url in image_urls %}

        <img src="{{ img_url.url }}" alt="{{ hotel.name }}">

        {% endfor %}

    </div>

    <div class="info__booking div-flex">

        <div class="hotel-detail">

            <p class="heading">
                {{ hotel.name }}
            </p>
            <p class="hotel-info">
                {{ hotel.address }}
            <p class="hotel-info description">
                {{ hotel.description|safe }}
            </p>

        </div>
        {% if not request.user.is_corporate %}

        <form action="" method='post' id="reservation-form">
            {% csrf_token %}

            <div class="form-div position-sticky" style="top: 80px;">
                <div class="price-wrapper">
                    <p class="hotel-info price">
                        <span>
                            NPR
                            {{ hotel.price }}
                        </span>
                    </p>
                    <p style="margin: 0; font-size: 13px; color:#6d787d;">Inclusive of all taxes</p>
                </div>

                {{ reservation_form.as_p }}

                <div class="custom-hr"></div>

                <div class="div-flex total-cost-wrapper">
                    <div>
                        <p style="margin-bottom: 0;">Total price</p>
                        <span style="font-size: 13px; color:#6d787d;">(incl. of all taxes)</span>
                    </div>
                    <div>
                        <p id="loading-spinner" style="display: none;">
                            Loading...
                        </p>

                        <p id="total-cost" style="display: block;">{{ hotel.price }}</p>
                    </div>
                </div>

                <br>

                <button class="button-style">Continue Booking</button>
            </div>
        </form>

        {% endif %}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Provide the predefine dates of today and tomorrow.
        const today = new Date().toISOString().split('T')[0];
        $(".input-check_in").attr("min", today).val(today);

        const tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        const tomorrowDate = tomorrow.toISOString().split('T')[0];
        $(".input-check_out").attr("min", tomorrowDate).val(tomorrowDate);
    })

    $(document).ready(function () {
        // Attach the event listener to form inputs
        $('.input-check_in, .input-check_out').on('change', function () {
            // Disable the submit button
            $('button.button-style').prop('disabled', true);

            // Show loading animation
            $('#loading-spinner').show();

            $('#total-cost').hide();

            // Update total cost
            updateTotalCost();
        });


        // Function to update the total cost
        function updateTotalCost() {
            // Serialize form data
            var formData = $('#reservation-form').serialize();

            var url = '{% url "hotel:update_total_cost" hotel.slug %}';

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    console.log(data);
                    // Hide loading animation
                    $('#loading-spinner').hide();

                    $('#total-cost').show();

                    $('#total-cost').text(data.total_cost);

                    $('button.button-style').prop('disabled', false);


                },
                error: function (error) {
                    console.log(error);
                    // Hide loading animation in case of an error
                    $('#loading-spinner').hide();
                }
            });
        }

    });

</script>

{% endblock content %}