{% extends "base.html" %}


{% block title %}
{{ hotel.name }} -
{% endblock title %}


{% block content %}

<div class="hotel-detail-wrapper">

    <div class="hotel-pics">
        {% for img_url in image_urls %}

        <img src="{{ img_url.url }}" alt="{{ hotel.name }}">

        {% endfor %}

    </div>

    <div class="div-flex">

        <div class="hotel-detail">

            <p class="heading">
                {{ hotel.name }}
            </p>
            <p class="hotel-info">
                {{ hotel.address }}
            <p class="hotel-info description">
                {{ hotel.description }}
            </p>

        </div>
        {% if not request.user.is_corporate %}

        <form action="" method='post' id="reservation-form">
            {% csrf_token %}
            
            <div class="form-div">
                <p class="hotel-info price">
                    <span>
                        NPR
                        {{ hotel.price }}
                    </span>
                </p>

                {{ reservation_form.as_p }}

                <hr>

                <div class="div-flex">
                    <div>
                        <p>Total Price</p>
                    </div>
                    <div>
                        <p id="total-cost">{{ hotel.price }}</p>
                    </div>
                </div>

                <button class="button-style">Continue Booking</button>
            </div>
        </form>

        {% endif %}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Attach the event listener to form inputs
        $('.input-check_in, .input-check_out').on('input', function () {
            updateTotalCost();
        });

        // Function to update the total cost
        function updateTotalCost() {
            // Serialize form data
            var formData = $('#reservation-form').serialize();

            var url = '{% url "hotel:update_total_cost" hotel.slug %}';

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    $('#total-cost').text(data.total_cost);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });

</script>


{% endblock content %}