* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #131415;
}

input,
select,
textarea,
button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #101111;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #131415;
}

input {
    background-color: #adb0b1;
}

/* Apply specific styles for buttons */
button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

select {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

p {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #adb0b1;
}

.search-bar {
    width: 300px;
    padding: 5px;
    margin: 0;
    border: 1px solid rgba(49, 49, 49, 0.5);
    border-radius: 5px;
    outline: none;
    transition: width 0.5s ease;
}

.search-bar:focus {
    width: 400px;
    border-color: #666;
}


.div-flex {
    display: flex;
    gap: 20px;
}

.position-sticky {
    position: sticky;
    top: 0;
}

.heading {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

/* threedot loading */

.threedotloader {
    margin: 10px 0;
}

.threedotloader .dot {
    width: 0.5em;
    height: 0.8em;
    border-radius: 1.4em;
    background-color: #333;
    transform: scale(0);
    display: inline-block;
    animation: dotanim 1.6s infinite ease-in-out;
}

.threedotloader .dot:nth-child(1) {
    animation-delay: 0s;
}

.threedotloader .dot:nth-child(2) {
    animation-delay: 0.25s;
}

.threedotloader .dot:nth-child(3) {
    animation-delay: 0.5s;
}

.threedotloader .dot:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes dotanim {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    90% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 30px;
    background-color: #101111;
    text-align: center;
}

.navigation a {
    color: #fff;
}

.navigation a:hover {
    color: #adb0b1;
}

.container-wrapper {
    padding: 10px 30px;
    background-color: #131415;
}

/* hotels */

.hotel-card .hotel-detail {
    padding: 0 10px;
}

.hotel-info {
    font-size: 15px;
    font-weight: 550;
    padding: 0;
    margin: 0;
}

.hotel-info.price,
.hotel-info.price span {
    font-size: 16px;
    font-weight: 800;
}

.hotel-info.description {
    font-size: 16px;
    color: #adb0b1;
}

.hotel-card .hotel-pic img {
    width: 400px;
    border-radius: 10px;
}

.hotel-card .hotel-pic {
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hotel-cards .hotel-card:hover .hotel-detail .heading {
    color: #adb0b1;
}


/* hotel details */

.hotel-detail-wrapper ul {
    list-style-type: inherit;
}

.hotel-detail-wrapper .info__booking {
    padding: 20px 80px 0;
}

.hotel-detail-wrapper .hotel-pics img {
    width: 600px;
}

.hotel-detail-wrapper .hotel-pics {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.hotel-detail-wrapper .heading {
    font-size: 32px;
    margin-bottom: 0;
}

.hotel-detail-wrapper .hotel-detail {
    flex: 2;
}

#reservation-form {
    flex: 0.5;
    padding: 15px 0;
}

.form-div {
    padding: 10px 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 262px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#reservation-form .hotel-info.price,
#reservation-form .hotel-info.price span {
    color: #adb0b1;
    font-size: 24px;
    margin-bottom: 0;
}

.div-flex.total-cost-wrapper {
    justify-content: space-between;
}

#reservation-form #total-cost {
    font-weight: 900;
}

#reservation-form .button-style {
    width: 100%;
}

/* user dashboard */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #101111;
}

.reservations .records {
    text-align: left;
}

.reservations .records td {
    width: 250px;
}